* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: #d0efd8;
}

#tabs{
  display: flex;
  flex-direction: row;
}

.tabButton{
  width: 25%;
  font-size: calc(1.5vw + 1vh);
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 2px solid #1c9c8d;
  border-bottom: 2px solid #1c9c8d;
}

#home{
  padding: 8%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 55%;
  gap: 5%;
  justify-content: center;
}

#forestIterator{
  background-color: #ffffff;
  height: 100%;
  padding:10%;
}
#forestDisplay{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:5%;
  width:100%;
  height: 45%;
}

button {
  border: none;
  padding: 3%;
  width: 100%;
  text-align: center;
  font-size: calc(2.5vw + 1.3vh);
  cursor: pointer;
  background-color: #21C0AD;
}

button:hover {
  background-color: #6dc6bc;
}