* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: #abedbc;
}

#tabs{
  display: flex;
  flex-direction: row;
}

.tabButton{
  width: 25%;
  font-size: calc(2.5vw + 1vh);
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 3px solid #abedbc;
}

#home{
  padding: 8%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 55%;
  gap: 5%;
  justify-content: center;
}


button {
  border: none;
  padding: 3%;
  width: 100%;
  text-align: center;
  font-size: calc(2.5vw + 1.3vh);
  cursor: pointer;
  background-color: #21C0AD;
}

button:hover {
  background-color: #5AB42D;
}