* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: caption;
  background-color: #EDFCEE;
  padding: 8%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 55%;
  gap: 5%;
  justify-content: center;
}


#whichSettings {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

#displayedSettings {
  display: none;
  background-color: #a8e48a;
  border: thick solid #65cc31;
}


button {
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: calc(2.5vw + 1.3vh);
  cursor: pointer;
  background-color: #65cc31;
}

button:hover {
  background-color: #a8e48a;
}